@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mint: #3eb489;
  --light-mint: #82cbab;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}


.text-neon {
  color: var(--mint);
  text-shadow: 0 0 8px var(--mint);
}

.text-neon-light{
  color: var(--light-mint);
  text-shadow: 0 0 4px var(--light-mint);
}

.text-neon-white{
  color: white;
  text-shadow: 0 0 4px white;
}